In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key for gmaps.
from config import g_key

In [17]:
# Read the WeatherPy_vacation.csv and store into new DataFrame.
city_data_df = pd.read_csv("challenge_data/WeatherPy_challenge.csv")
city_data_df = city_data_df.set_index("City_ID")
city_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
City_ID,,,,,,,,,,,,
0,Mataura,NZ,2020-05-08 21:10:28,-46.19,168.86,46.49,83,54,3.89,broken clouds,0,0
1,Puerto Ayora,EC,2020-05-08 21:10:29,-0.74,-90.35,86.00,66,20,20.80,few clouds,0,0
2,Rio Grande,BR,2020-05-08 21:07:56,-32.03,-52.10,66.20,52,0,5.82,clear sky,0,0
3,Ushuaia,AR,2020-05-08 21:06:23,-54.80,-68.30,44.60,93,40,3.36,scattered clouds,0,0
4,Bengkulu,ID,2020-05-08 21:07:49,-3.80,102.27,77.47,86,100,3.02,overcast clouds,0,0

In [18]:
# Ask the customer to add a minimum and maximum temperature value and if they want precipitation.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain = str(input("Do you want it to be raining? (yes/no) "))
snow = str(input("Do you want it to be snowing? (yes/no) "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [19]:
# If statment for filtering thorugh precipitation.
if rain == "yes":
    rain_request = city_data_df["Rain Inches (last 3 hrs)"] != 0
else:
    rain_request = city_data_df["Rain Inches (last 3 hrs)"] == 0
    
if snow == "yes":
    snow_request = city_data_df["Snow Inches (last 3 hrs)"] != 0
else:
    snow_request = city_data_df["Snow Inches (last 3 hrs)"] == 0
    
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) & 
                                       (rain_request) & (snow_request)]
preferred_cities_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
City_ID,,,,,,,,,,,,
1,Puerto Ayora,EC,2020-05-08 21:10:29,-0.74,-90.35,86.00,66,20,20.80,few clouds,0,0
4,Bengkulu,ID,2020-05-08 21:07:49,-3.80,102.27,77.47,86,100,3.02,overcast clouds,0,0
10,Mecca,SA,2020-05-08 21:08:16,21.43,39.83,82.63,55,88,2.01,overcast clouds,0,0
12,Estelle,US,2020-05-08 21:10:35,29.85,-90.11,84.20,54,75,5.82,broken clouds,0,0
14,Rikitea,PF,2020-05-08 21:10:35,-23.12,-134.97,75.49,72,19,7.43,few clouds,0,0

In [5]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

In [6]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [7]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,75.20,clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
23,Vaini,TO,78.80,broken clouds,-21.20,-175.20,Keleti Beach Resort
28,Tual,ID,82.89,clear sky,-5.67,132.75,Grand Vilia Hotel
30,Kailua,US,78.80,few clouds,21.40,-157.74,Sheffield House Bed & Breakfast
32,Butaritari,KI,82.42,overcast clouds,3.07,172.79,Isles Sunset Lodge

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(g_key)

In [9]:
# Create info boxes for hotels
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Create the output file (CSV).
output_data_file = "challenge_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")