In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key for gmaps.
from config import g_dirc_key

In [2]:
# Read the WeatherPy_vacation.csv and store into new DataFrame.
hotel_data_df = pd.read_csv("challenge_data/WeatherPy_vacation.csv")
hotel_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Kapaa,US,75.20,clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
1,23,Vaini,TO,78.80,broken clouds,-21.20,-175.20,Keleti Beach Resort
2,28,Tual,ID,82.89,clear sky,-5.67,132.75,Grand Vilia Hotel
3,30,Kailua,US,78.80,few clouds,21.40,-157.74,Sheffield House Bed & Breakfast
4,32,Butaritari,KI,82.42,overcast clouds,3.07,172.79,Isles Sunset Lodge

In [3]:
# Creating new DataFrames for selected cities.
Laguna_df = hotel_data_df.loc[hotel_data_df["City"] == "Laguna", :]
Half_Moon_Bay_df = hotel_data_df.loc[hotel_data_df["City"] == "Half Moon Bay", :]
San_Jose_df = hotel_data_df.loc[hotel_data_df["City"] == "San Jose", :]
Pacific_Grove_df = hotel_data_df.loc[hotel_data_df["City"] == "Pacific Grove", :]

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(g_dirc_key)

In [5]:
# Latitude-longitude pairs
Laguna = (float(Laguna_df["Lat"]), float(Laguna_df["Lng"]))
Half_Moon_Bay = (float(Half_Moon_Bay_df["Lat"]), float(Half_Moon_Bay_df["Lng"]))
San_Jose = (float(San_Jose_df["Lat"]), float(San_Jose_df["Lng"]))
Pacific_Grove = (float(Pacific_Grove_df["Lat"]), float(Pacific_Grove_df["Lng"]))

# Driving directions for all four cities in the vacation.
fig = gmaps.figure()
vaction_travel = gmaps.directions_layer(Laguna, Pacific_Grove, 
                                        waypoints=[Half_Moon_Bay, San_Jose], travel_mode="DRIVING")
fig.add_layer(vaction_travel)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Merging seperate city dataframes.
Vacation_df = pd.concat([Half_Moon_Bay_df, Pacific_Grove_df, Laguna_df, San_Jose_df])
Vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,36,Half Moon Bay,US,80.01,haze,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
18,85,Pacific Grove,US,84.99,clear sky,36.62,-121.92,Lovers Point Inn
107,361,Laguna,US,82.40,clear sky,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
108,363,San Jose,US,86.00,broken clouds,37.34,-121.89,The Westin San Jose

In [7]:
# Create info boxes for four hotels
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
Vacation_info = [info_box_template.format(**row) for index, row in Vacation_df.iterrows()]

In [8]:
# Pop-up marker for each of the four cities.
locations = Vacation_df[["Lat", "Lng"]]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=Vacation_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))