In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
# Read weather data csv and store into new DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albanel,CA,2020-05-06 18:57:03,48.88,-72.45,48.20,24,20,11.41
1,1,Chokurdakh,RU,2020-05-06 18:56:12,70.63,147.92,18.32,97,97,4.63
2,2,Kununurra,AU,2020-05-06 18:57:49,-15.77,128.73,59.00,87,28,3.36
3,3,Albany,US,2020-05-06 18:56:20,42.60,-73.97,57.99,35,100,3.94
4,4,Zamora,EC,2020-05-06 18:57:49,-4.07,-78.96,86.00,45,75,8.05

In [12]:
# Configure gmaps to use your Google API key.
gmaps.configure(g_key)

In [21]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature..
max_temp = city_data_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of Cloudiness

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the cloudiness..
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of Wind Speed

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the wind speed..
wind_speed = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Zamora,EC,2020-05-06 18:57:49,-4.07,-78.96,86.00,45,75,8.05
5,5,Grand Gaube,MU,2020-05-06 18:57:49,-20.01,57.66,75.00,82,0,5.99
7,7,Tautira,PF,2020-05-06 18:57:05,-17.73,-149.15,78.80,78,41,2.24
12,12,Vilhena,BR,2020-05-06 18:57:51,-12.74,-60.15,82.40,78,75,12.75
16,16,Victoria,HK,2020-05-06 18:53:14,22.29,114.16,81.00,85,44,1.01
24,24,Hilo,US,2020-05-06 18:56:57,19.73,-155.09,78.80,57,75,3.15
26,26,Dalbandin,PK,2020-05-06 18:57:55,28.89,64.41,83.86,14,26,5.53
28,28,Arraial Do Cabo,BR,2020-05-06 18:56:18,-22.97,-42.03,84.20,69,16,4.70
30,30,Puerto Ayora,EC,2020-05-06 18:51:43,-0.74,-90.35,82.40,74,20,12.75
33,33,Luderitz,NaN,2020-05-06 18:57:27,-26.65,15.16,76.68,26,0,9.60

In [27]:
# Determine if there are any null values in new DataFrame
preferred_cities_df.count()

City_ID       185
City          185
Country       182
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
4            Zamora      EC     86.00  -4.07  -78.96
5       Grand Gaube      MU     75.00 -20.01   57.66
7           Tautira      PF     78.80 -17.73 -149.15
12          Vilhena      BR     82.40 -12.74  -60.15
16         Victoria      HK     81.00  22.29  114.16
24             Hilo      US     78.80  19.73 -155.09
26        Dalbandin      PK     83.86  28.89   64.41
28  Arraial Do Cabo      BR     84.20 -22.97  -42.03
30     Puerto Ayora      EC     82.40  -0.74  -90.35
33         Luderitz     NaN     76.68 -26.65   15.16

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Zamora,EC,86.00,-4.07,-78.96,Cabañas Ecológica Copalinga
5,Grand Gaube,MU,75.00,-20.01,57.66,Veranda Paul et Virginie Hotel & Spa
7,Tautira,PF,78.80,-17.73,-149.15,Pension Oaoa
12,Vilhena,BR,82.40,-12.74,-60.15,Hotel Mirage
16,Victoria,HK,81.00,22.29,114.16,Mini Hotel Central
24,Hilo,US,78.80,19.73,-155.09,Hilo Hawaiian Hotel
26,Dalbandin,PK,83.86,28.89,64.41,Gidaan Guest House
28,Arraial Do Cabo,BR,84.20,-22.97,-42.03,Pousada Porto Praia
30,Puerto Ayora,EC,82.40,-0.74,-90.35,Finch Bay Galapagos Hotel
33,Luderitz,NaN,76.68,-26.65,15.16,LÜDERITZ NEST HOTEL

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Create info boxes for hotels
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))